div[role='main'] {
  position: relative;
}

::slotted(.page) {
  position: absolute;
  background-color: white;
  top: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
  display: none;
}

::slotted(*) > .page {
  position: absolute;
  background-color: white;
  top: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
  display: none;
}

::slotted(.page--on-view) {
  position: relative !important;
  opacity: 1;
  z-index: 0;
  display: block;
}

::slotted(*) > .page--on-view {
  position: relative !important;
  opacity: 1;
  z-index: 0;
  display: block;
}